// color
$primary:   #5368df;
$primary-1: #252b46;
$secondary: #fa5757;

$gray:      #9194a1;
$gray-1:    #f9f9f9;

$dark-blue: #252b46;

$black: #000000;
$white: #ffffff;


// font-family
$font-rubik: 'Rubik', sans-serif;


// font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;
